# Exercise: Time Series Manipulations in Pandas

Like in prior exercises, you'll download a ticker's historical data from YahooFinance. But raw data isn't that useful by itself, so in this exercise you'll get practice with manipulating time series data in Pandas.

In [5]:
import pandas as pd
import yfinance as yf

**Pull data for your favorite ticker from YahooFinance**

Use the YF API to pull **daily** price data for at least 3 years for any stock ticker you'd like.

In [10]:
stock_ticker = 'AAPL'
start_date = '2020-01-01' # use format YYYY-MM-DD
end_date = '2024-01-02'

data = yf.download(stock_ticker, start=start_date, end=end_date, auto_adjust=False) # replace ... inside this function with the correct parameters in order to get your data

[*********************100%***********************]  1 of 1 completed

**Resample from daily to weekly, taking the Friday price**

Using the above data, resample your `closing` price to weekly. In the demo, we used the last day of the period. In this exercise, can you figure out how to pull the weekly data that's for Friday specifically?

In [11]:
weekly_data_friday = data[data.index.weekday == 4]  # Filter for Fridays

In [13]:
weekly_data_friday.head()

Price       Adj Close      Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL       AAPL
Date
2020-01-03  71.914825  74.357498  75.144997  74.125000  74.287498  146322800
2020-01-10  75.033867  77.582497  78.167503  77.062500  77.650002  140644800
2020-01-17  77.064888  79.682503  79.684998  78.750000  79.067497  137816400
2020-01-24  76.963356  79.577499  80.832497  79.379997  80.062500  146537600
2020-01-31  74.835602  77.377502  80.669998  77.072502  80.232498  199588400

In [25]:
# Check day of the week
dates = weekly_data_friday.index
print(dates.day_name())

Index(['Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday',
       'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday'],
      dtype='object', name='Date')

**Taking time-based slice of your data**

Above you pulled the last 3 years of data for a given ticker. But in lots of trading applications, you don't need data that goes that far back in time as trends and underlying phenomenon have changed. 

Can you take just the last 3 months of data and put it into a new DataFrame?

In [ ]:
# Assuming weekly_data_friday has a datetime index
end_date = weekly_data_friday.index.max()
start_date = end_date - pd.DateOffset(months=3)
last_3_months = weekly_data_friday.loc[start_date:end_date]

In [21]:
last_3_months.tail()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2023-12-01,189.849701,191.240005,191.559998,189.229996,190.330002,45704800
2023-12-08,194.287201,195.710007,195.990005,193.669998,194.199997,53406400
2023-12-15,196.133698,197.570007,198.399994,197.000000,197.529999,128538400
2023-12-22,192.192551,193.600006,195.410004,192.970001,195.179993,37149600
2023-12-29,191.130325,192.529999,194.399994,191.729996,193.899994,42672100