Part 1 - Obtaining Historical Stock Prices

In [ ]:
#!pip install yfinance

In [3]:
import yfinance as yf
import pandas as pd

In [4]:
# Define the start and end dates
start_date = '2024-04-01'
end_date = '2024-05-01'

# Define the list of tickers
tickers = ['AAPL', 'MSFT']

historical_prices = yf.download(tickers, start=start_date, end=end_date)

/var/folders/x_/cwdykrgx6t586fcv8vydqsgw0000gn/T/ipykernel_57803/1442123962.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  historical_prices = yf.download(tickers, start=start_date, end=end_date)
[*********************100%***********************]  2 of 2 completed

In [5]:
historical_prices.head()

Price            Close                    High                     Low  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-04-01  169.009277  420.581024  170.221955  423.869839  168.462576
2024-04-02  167.826431  417.480438  168.323430  418.411609  167.220093
2024-04-03  168.631561  416.499695  169.655377  419.283291  167.567993
2024-04-04  167.806564  413.953857  170.887946  424.642490  167.806564
2024-04-05  168.561981  421.522064  169.367116  422.502783  167.935758

Price                         Open                Volume
Ticker            MSFT        AAPL        MSFT      AAPL      MSFT
Date
2024-04-01  418.253097  170.162317  419.966854  46240500  16316000
2024-04-02  413.914255  168.064996  416.162917  49329500  17912000
2024-04-03  415.152457  167.776723  415.786458  47691700  16502300
2024-04-04  413.646772  169.267726  420.997042  53704400  19370900
2024-04-05  414.389729  168.571916  416.063853  42104800  16554800

In [7]:
sp500_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].tolist()
# Filter out tickers that end with '.B'
sp500_tickers = [ticker for ticker in sp500_tickers if '.B' not in ticker]

In [9]:
sp500_tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'AON',
 'APA',
 'APO',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BAX',
 'BDX',
 'BBY',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'XYZ',
 'BK',
 'BA',
 'BKNG',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BLDR',
 'BG',
 'BXP',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'COIN',
 'CL',
 'CMCSA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CRWD',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DDOG',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DELL',
 'DAL',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DASH',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ERIE',
 'ESS',
 'EL',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXE',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GDDY',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KKR',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LII',
 'LLY',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PLTR',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SW',
 'SNA',
 'SOLV',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TER',
 'TSLA',
 'TXN',
 'TPL',
 'TXT',
 'TMO',
 'TJX',
 'TKO',
 'TTD',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VTRS',
 'VICI',
 'V',
 'VST',
 'VMC',
 'WRB',
 'GWW',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WY',
 'WSM',
 'WMB',
 'WTW',
 'WDAY',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS']

In [10]:
start_date = '2000-01-01'
end_date = '2024-05-01'
historical_prices = yf.download(sp500_tickers, start=start_date, end=end_date, auto_adjust=False)

[*********************100%***********************]  501 of 501 completed

In [ ]:
historical_prices = historical_prices.loc[:, historical_prices.columns.get_level_values(0) == 'Adj Close']
historical_prices.columns = historical_prices.columns.droplevel(0)

In [11]:
historical_prices.head()

Price       Adj Close                                                         \
Ticker              A      AAPL ABBV ABNB       ABT      ACGL ACN       ADBE
Date
2000-01-03  43.199890  0.841048  NaN  NaN  8.170223  1.215037 NaN  16.274673
2000-01-04  39.899906  0.770139  NaN  NaN  7.936787  1.208433 NaN  14.909399
2000-01-05  37.424900  0.781409  NaN  NaN  7.922203  1.320692 NaN  15.204174
2000-01-06  35.999912  0.713787  NaN  NaN  8.199403  1.307485 NaN  15.328292
2000-01-07  38.999901  0.747598  NaN  NaN  8.286942  1.380124 NaN  16.072989

Price                            ...   Volume                                  \
Ticker            ADI       ADM  ...       WY WYNN      XEL       XOM XYL XYZ
Date                             ...
2000-01-03  27.847193  6.116468  ...   973700  NaN  2738600  13458200 NaN NaN
2000-01-04  26.438423  6.052755  ...  1201700  NaN   425200  14510800 NaN NaN
2000-01-05  26.824387  5.957187  ...  1184600  NaN   500200  17485000 NaN NaN
2000-01-06  26.091064  5.989040  ...  1307700  NaN   344100  19461600 NaN NaN
2000-01-07  26.824387  6.084610  ...  1728000  NaN   469500  16603800 NaN NaN

Price
Ticker          YUM ZBH     ZBRA ZTS
Date
2000-01-03  3033493 NaN  1055700 NaN
2000-01-04  3315031 NaN   522450 NaN
2000-01-05  4642602 NaN   612225 NaN
2000-01-06  3947658 NaN   263925 NaN
2000-01-07  6063647 NaN   333900 NaN

[5 rows x 3006 columns]

In [12]:
MIN_REQUIRED_NUM_OBS_PER_TICKER = 100

# Count the number of observations for each ticker
ticker_counts = historical_prices.count()
ticker_counts

Price      Ticker
Adj Close  A         6120
           AAPL      6120
           ABBV      2851
           ABNB       851
           ABT       6120
                     ...
Volume     XYZ       2124
           YUM       6120
           ZBH       5727
           ZBRA      6120
           ZTS       2830
Length: 3006, dtype: int64

In [13]:
# Filter tickers with at least MIN_REQUIRED_NUM_OBS_PER_TICKER observations
valid_tickers_msak = ticker_counts[ticker_counts >= MIN_REQUIRED_NUM_OBS_PER_TICKER].index
historical_prices = historical_prices[valid_tickers_msak]

In [14]:
historical_prices.head()

Price       Adj Close                                                         \
Ticker              A      AAPL ABBV ABNB       ABT      ACGL ACN       ADBE
Date
2000-01-03  43.199890  0.841048  NaN  NaN  8.170223  1.215037 NaN  16.274673
2000-01-04  39.899906  0.770139  NaN  NaN  7.936787  1.208433 NaN  14.909399
2000-01-05  37.424900  0.781409  NaN  NaN  7.922203  1.320692 NaN  15.204174
2000-01-06  35.999912  0.713787  NaN  NaN  8.199403  1.307485 NaN  15.328292
2000-01-07  38.999901  0.747598  NaN  NaN  8.286942  1.380124 NaN  16.072989

Price                            ...   Volume                                  \
Ticker            ADI       ADM  ...       WY WYNN      XEL       XOM XYL XYZ
Date                             ...
2000-01-03  27.847193  6.116468  ...   973700  NaN  2738600  13458200 NaN NaN
2000-01-04  26.438423  6.052755  ...  1201700  NaN   425200  14510800 NaN NaN
2000-01-05  26.824387  5.957187  ...  1184600  NaN   500200  17485000 NaN NaN
2000-01-06  26.091064  5.989040  ...  1307700  NaN   344100  19461600 NaN NaN
2000-01-07  26.824387  6.084610  ...  1728000  NaN   469500  16603800 NaN NaN

Price
Ticker          YUM ZBH     ZBRA ZTS
Date
2000-01-03  3033493 NaN  1055700 NaN
2000-01-04  3315031 NaN   522450 NaN
2000-01-05  4642602 NaN   612225 NaN
2000-01-06  3947658 NaN   263925 NaN
2000-01-07  6063647 NaN   333900 NaN

[5 rows x 2994 columns]